@import '~@angular/material/theming';
@import "~@progress/kendo-theme-material/scss/grid";
@import "~@ind-studio/common/theming";
@import "~@ind-studio/menu/theming";
@import "~@ind-studio/core-screens/theming";
@import "~@ind-studio/trend/theming";
@include mat-core();
@include ind-studio-base();

.app {
    &.indigo-light {
        $indigo-light-theme: ind-studio-indigo-light-theme();
        @include angular-material-theme($indigo-light-theme);
        @include ind-studio-menu-theme($indigo-light-theme);
        @include ind-studio-core-screens-theme($indigo-light-theme);
        @include ind-studio-trend-theme($indigo-light-theme);
    }
    &.teal-light {
        $teal-light-theme: ind-studio-teal-light-theme();
        @include angular-material-theme($teal-light-theme);
        @include ind-studio-menu-theme($teal-light-theme);
        @include ind-studio-core-screens-theme($teal-light-theme);
        @include ind-studio-trend-theme($teal-light-theme);
    }
    &.red-light {
        $red-light-theme: ind-studio-red-light-theme();
        @include angular-material-theme($red-light-theme);
        @include ind-studio-menu-theme($red-light-theme);
        @include ind-studio-core-screens-theme($red-light-theme);
        @include ind-studio-trend-theme($red-light-theme);
    }
    &.blue-dark {
        $blue-dark-theme: ind-studio-blue-dark-theme();
        @include angular-material-theme($blue-dark-theme);
        @include ind-studio-menu-theme($blue-dark-theme);
        @include ind-studio-core-screens-theme($blue-dark-theme);
        @include ind-studio-trend-theme($blue-dark-theme);
    }
    &.green-dark {
        $green-dark-theme: ind-studio-green-dark-theme();
        @include angular-material-theme($green-dark-theme);
        @include ind-studio-menu-theme($green-dark-theme);
        @include ind-studio-core-screens-theme($green-dark-theme);
        @include ind-studio-trend-theme($green-dark-theme);
    }
    &.pink-dark {
        $pink-dark-theme: ind-studio-pink-dark-theme();
        @include angular-material-theme($pink-dark-theme);
        @include ind-studio-menu-theme($pink-dark-theme);
        @include ind-studio-core-screens-theme($pink-dark-theme);
        @include ind-studio-trend-theme($pink-dark-theme);
    }
}
